
.chessboard {
margin: 10px 0px 0px 10px;
width: 80px;
height:80px;
border: 0px solid black;
}

.chessboard, .black_square, .white_square {
position: relative;
float: left;
display:block;
}

.chessboard img {
position: absolute;
z-index: 1;
border: 0px solid black;
}


.black_square, .white_square {
width:20px;
height:20px;
float:left;
}

.letter_square { 
width: 16px;
height: 18px;
float: left;
font-size: 14px;
padding-left: 4px;
padding-top: 2px;
background-color: white;
}

.black_square {
/* background-color: #3C7C63;  dark green */
/* cbackground-color: #CF8A30;   dark tan */
/* background-color: #9B9B9B;   gray */
/* background-color: #C2A880;  light brown */
/* background-color: #d18b47;  dark square color from TWIC live game viewer */
background-color: #83683F;  /* dark brown */

}
	
.white_square {
background-color: white;
/* background-color: #ffce9e; light square color from TWIC live game viewer */
}

.footer {
/* background-color: #e8c89d;   original */
background-color: #C2A880;  /* light brown  */
}

