
h2 {
margin: 20px 0px 0px 50px;
}

ul {
margin: 15px 0px 0px 50px;
}

li {
margin: 10px 0px 0px 0px;
}

.middle  {
width: 875px;
word-spacing: 2px;
margin: 0px 0px 0px 0px;
border: 0px solid green;
}

.middle p {
word-spacing: 1px;
margin: 25px 0px 10px 50px;
}
