.t/************************************************
*	Chess Tempo Chessboard			     		    * 
************************************************/

.ct-board-container{padding:5px;}.ct-board{display:block;overflow:hidden;text-align:center;}.ct-board-border{border:1px solid #363A3D;}.ct-board-border-green{background-color:#408038;color:#CCC;border:2px solid #363A3D;}.ct-board-border-greenwhite{background-color:#112724;color:#CCC;border:2px solid #363A3D;}.ct-board-border-stucco{background-color:#777;color:#333;border:2px solid #363A3D;background:url('/images/tiles/Worn Stucco.jpg') repeat;}.ct-board-border-wooddark{background-color:#777;color:#CCC;border:2px solid #363A3D;background:url('/images/tiles/WoodFine0011_preview.jpg') repeat;}.ct-black-square,.ct-white-square,.ct-black-square-grey,.ct-white-square-grey,.ct-black-square-lightgrey,.ct-white-square-lightgrey,.ct-black-square-brown,.ct-white-square-brown,.ct-black-square-greenwhite,.ct-white-square-greenwhite,.ct-black-square-green,.ct-white-square-green,.ct-black-square-woodlight,.ct-white-square-woodlight,.ct-black-square-marblebrown,.ct-white-square-marblebrown,.ct-black-square-metal,.ct-white-square-metal,.ct-black-square-stucco,.ct-white-square-stucco,.ct-black-square-goldsilver,.ct-white-square-goldsilver,.ct-black-square-wooddark,.ct-white-square-wooddark,.ct-black-square-sandsnow,.ct-white-square-sandsnow,.ct-black-square-crackedstone,.ct-white-square-crackedstone,.ct-black-square-granite,.ct-white-square-granite,.ct-black-square-marblegreen,.ct-white-square-marblegreen{display:block;float:left;}.ct-black-square,.ct-black-square-grey{background-color:#99ccff;}.ct-white-square,.ct-white-square-grey{background-color:#ffffff;}.ct-white-square-lightgrey{background-color:#CDCDCD;}.ct-black-square-lightgrey{background-color:#AAA;}.ct-white-square-brown{background-color:#FCCC9C;}.ct-black-square-brown{background-color:#CC9C6C;}.ct-white-square-woodlight{background-color:#FCCC9C;background:url('/images/tiles/WoodFine0009_preview.jpg') repeat;}.ct-black-square-woodlight{background-color:#CC9C6C;background:url('/images/tiles/WoodFine0015_preview.jpg') repeat;}.ct-white-square-green{background-color:#C8C060;color:red;}.ct-black-square-green{background-color:#70A068;color:red;}.ct-white-square-greenwhite{background-color:#FFFFF0;color:red;}.ct-black-square-greenwhite{background-color:#2C794F;color:red;}.ct-black-square-marblebrown{background-color:#CC9C6C;background:url('/images/tiles/Egyptian Marble.jpg') repeat;}.ct-white-square-metal{background-color:#FCCC9C;background:url('/images/tiles/Aluminum Light.jpg') repeat;}.ct-black-square-metal{background-color:#CC9C6C;background:url('/images/tiles/Aluminum Dark.jpg') repeat;}.ct-white-square-stucco{background-color:#FCCC9C;background:url('/images/tiles/Tan Stucco.jpg') repeat;}.ct-black-square-stucco{background-color:#CC9C6C;background:url('/images/tiles/Santa Fe Stucco.jpg') repeat;}.ct-white-square-goldsilver{background-color:#FCCC9C;background:url('/images/tiles/Mothership.jpg') repeat;}.ct-black-square-goldsilver{background-color:#CC9C6C;background:url('/images/tiles/Raw Gold.jpg') repeat;}.ct-white-square-wooddark{background-color:#FCCC9C;background:url('/images/tiles/WoodFine0010_preview.jpg') repeat;}.ct-black-square-wooddark{background-color:#CC9C6C;background:url('/images/tiles/WoodFine0003_preview.jpg') repeat;}.ct-white-square-sandsnow{background-color:#FCCC9C;background:url('/images/tiles/Snow.jpg') repeat;}.ct-black-square-sandsnow{background-color:#CC9C6C;background:url('/images/tiles/Slush.jpg') repeat;}.ct-white-square-crackedstone{background-color:#FCCC9C;background:url('/images/tiles/Cracked Pomegranate.jpg') repeat;}.ct-black-square-crackedstone{background-color:#CC9C6C;background:url('/images/tiles/Lightning Rock.jpg') repeat;}.ct-white-square-granite{background-color:#FCCC9C;background:url('/images/tiles/White Beach Granite.jpg') repeat;}.ct-black-square-granite{background-color:#CC9C6C;background:url('/images/tiles/Brown Pearl Granite.jpg') repeat;}.ct-black-square-marblegreen{background-color:#CC9C6C;background:url('/images/tiles/Sea Green Marble.jpg') repeat;}.ct-from-square{background:none;background-color:#9F9FFF;}.ct-to-square{background:none;background-color:#557FFF;}.ct-over-valid-square{background:none;background-color:green;}.ct-over-invalid-square{background:none;background-color:red;}.ct-nav-buttons{padding-bottom:7px;padding-top:7px;}.ct-back,.ct-forward,.ct-start,.ct-end,.ct-play,.ct-stop{vertical-align:middle;
padding-right:20px;}.ct-mainline-commentary{padding: 3px;}.ct-board-move-mainline{cursor:pointer;
font-size : 10pt;
}
.ct-board-move-variation{cursor:pointer;
}.ct-board-move-mainline{font-weight:700;}.ct-board-move-comment{color:black;}.ct-board-move-current{color:red;}.ct-bad-move-score{color:#FF2020;}.ct-board-border-lightgrey,.ct-board-border-goldsilver{background-color:#777;border:2px solid #363A3D;color:#CCC;}.ct-board-border-grey,.ct-board-border-metal,.ct-board-border-sandsnow,.ct-board-border-crackedstone,.ct-board-border-granite{background-color:#555;border:2px solid #363A3D;color:#CCC;}.ct-board-border-brown,.ct-board-border-wood,.ct-board-border-marblebrown,.ct-board-border-marblegreen{background-color:#9C6C3C;border:2px solid #363A3D;color:#CCC;}.ct-white-square-marblebrown,.ct-white-square-marblegreen{background:url('/images/tiles/Light Swirl Marble.jpg') repeat;background-color:#FCCC9C;}.ct-subopt-move-score,.ct-opt-move-score{color:#8AAFEF;}


.scroll1 {

	height: 320px;
	width: 250px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #f5f6f6;
	padding: 8px;
	float: right;
}

.scroll2 {

	height: 320px;
	width: 250px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #f5f6f6;
	padding: 8px;
	float: right;
}

.oldscroll2 {

	height: 350px;
	width: 300px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #f5f6f6;
	padding: 8px;
	float: right;
}

.scroll3 {

	height: 380px;
	width: 500px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #f5f6f6;
	padding: 8px;
	float: right;
}

.scrollive {

	height: 100px;
	width: 285px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #f5f6f6;
	padding: 8px;
}

        #page {
            width: 600px;
        }

        #demo-container {
            float:left;
        }

        #demo-container select {
            margin-bottom: 10px;
        }

        #demo1-container {
            float:left;
        }

        #demo1-container select {
            margin-bottom: 10px;
        }

        #demo2-container {
            float:left;
        }

        #demo2-container select {
            margin-bottom: 10px;
        }

        #demo3-container {
            float:left;
        }

        #demo3-container select {
            margin-bottom: 10px;
        }

        #demo4-container {
            float:left;
        }

        #demo4-container select {
            margin-bottom: 10px;
        }

        #demo5-container {
            float:left;
        }

        #demo5-container select {
            margin-bottom: 10px;
        }

        #demo6-container {
            float:left;
        }

        #demo6-container select {
            margin-bottom: 10px;
        }

        #demo7-container {
            float:left;
        }

        #demo7-container select {
            margin-bottom: 10px;
        }

        #demo8-container {
            float:left;
        }

        #demo8-container select {
            margin-bottom: 10px;
        }

        #demo9-container {
            float:left;
        }

        #demo9-container select {
            margin-bottom: 10px;
        }

        #demo10-container {
            float:left;
        }

        #demo10-container select {
            margin-bottom: 10px;
        }

        #demo11-container {
            float:left;
        }

        #demo11-container select {
            margin-bottom: 10px;
        }

        #demo12-container {
            float:left;
        }

        #demo12-container select {
            margin-bottom: 10px;
        }

        #demo13-container {
            float:left;
        }

        #demo13-container select {
            margin-bottom: 10px;
        }

        #demo14-container {
            float:left;
        }

        #demo14-container select {
            margin-bottom: 10px;
        }

        #demo15-container {
            float:left;
        }

        #demo15-container select {
            margin-bottom: 10px;
        }

        #demo16-container {
            float:left;
        }

        #demo16-container select {
            margin-bottom: 10px;
        }