
body {
background-color: #F5F3EF;
margin: 0px;
padding: 0px;
font-family: Georgia, Times, Times New Roman, serif;
}

a img {
border:none;
}

.header {
position: relative;
float: left;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: black;
height: 100px;
width: 900px;
margin: 5px 0px 0px 5px;
background-color: #58AE8B;
}

.header img {
float: left;
margin: 0px 0px 0px 0px;
border: 0px solid green;
}

.logo {
position: relative;
float: left;
height: 75px;
width: 75px;
margin: 10px 1px 1px 10px;
border: 1px solid black;
}

.caption {
float: left;
clear: both;
text-align:center;
font-size:12px;
margin-left: 10px;
color: black;
}

.title  {
width: 750px;
border: 0px solid green;
margin: 0 auto;
text-align: center;
margin-top: 20px;
}

.title p {
font-size: 40px;
margin: 5px 5px 5px 5px;
text-align: center;
}

h1 {
font-size: 32px;
border: 0px solid black;
width: 500px;
margin: 100px 0px 0px 50px;
}

.picture {
background-color: #F9F9F9;
border: 1px solid #CCCCCC;
padding: 4px;
font-size: 11px;
color: black;
}

.picture img {
border: 1px solid #CCCCCC;
vertical-align: middle;
margin-bottom: 5px;
}

.right { margin: 10px 5px 10px 5px; float:right; }
.left { margin: 10px 25px 10px 100px; float:left;}

.middle  {
position: relative;
float: left;
width: 900px;
color: 8c8c8c;
background-color: #ffffff;          
margin: 0px 0px 0px 5px;
border: 1px solid black;
border-bottom-width: 0px;
}

.middle p {
font-size: 16px;
margin: 10px 0px 0px 100px;
border: 0px solid black;
color: black;
width: 700px;
text-indent: 20px;
}

p.noindent {
text-indent: 0px;
font-weight: normal;
}


.textbox {
position: left;
float: left;
margin: 10px 5px 5px 10px;
width: 500px;
border: 0px solid black;
}

.article {
position: left;
float: left;
margin: 0px 0px 0px 0px;
width: 500px;
border: 0px solid black;
}


.listbox  {
width:800px;
position: relative;
float: left;
margin: 0px 0px 0px 25px;
border: 0px solid black;
}


.footer {
position: relative;
float: left;
width: 900px;
height: 100px;
margin: 0px 0px 0px 5px;
border-color: black;
border-top-style: dotted;
border-bottom-style: solid;
border-right-style: solid;
border-left-style: solid;
border-width: 1px 1px 1px 1px;
background-color: #e8c89d;
}

.footer p {
position: relative;
float: left;
padding: 0px;
font-size: 12px;
margin: 20px 0px 0px 10px;
border: 0px solid black;
}

.footermenutop {
position: relative;
float: left;
width: 950px;
height: 20px;
font-size: 14px;
line-height: 20px;
border: 0px dotted black;
text-align: center;
word-spacing: 4px;
margin: 25px 0px 5px 0px;
}

.footermenutop a{
text-decoration: none;
}

.footermenubottom {
position: relative;
float: left;
text-align: center;
width: 950px;
height: 20px;
font-size: 14px;
line-height: 20px;
border: 0px dotted green;
word-spacing: 4px;
}

.footermenutop a{
text-decoration: none;
}

.footermenubottom a {
text-decoration: none;
}

.spacebar{
position: relative;
float: left;
border: 0px dotted black;
width:890px;
height:25px;
}
